<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAI and Web3</title>
</head>
<body>
    <h2>
        My First GenAI and Web3 application(can use in Handheld devices)
    </h2>

    <h4>
        My name is Mingce Gao, may I know your name?
    </h4>

    <form action="/main" method="post">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="q">
        </p>
        <p>
            <input type="submit" value="Enter">
        </p>
    </form>


</body>
</html>